<body>

  <div class="container">
    <header>
      <h1>Benvingut a CryptoWorld</h1>
      <h2>La teva porta d'entrada segura a les criptomonedes</h2>
    </header>

    <section>
      <h3>Per què comprar criptomonedes?</h3>
      <ul>
        <li><span class="important">Inverteix en el futur:</span> Participa en una revolució financera global.</li>
        <li><span class="important">Diversifica la teva cartera:</span> Afegeix una nova classe d'actius a les teves inversions.</li>
        <li><span class="important">Transaccions globals:</span> Envia i rep diners sense fronteres ni intermediaris.</li>
      </ul>
    </section>

    <section>
      <h3>Què són les criptomonedes?</h3>
      <p>Les criptomonedes són monedes digitals basades en la tecnologia blockchain. Són descentralitzades i poden utilitzar-se per enviar diners, guardar valor o fins i tot ser intercanviades per obtenir beneficis. Criptomonedes populars com Bitcoin i Ethereum han guanyat gran atenció com a oportunitat d'inversió.</p>
    </section>

    <section>
      <h3>Comença avui mateix</h3>
      <p>Estàs a punt per començar el teu viatge a les criptomonedes? Registra't ara i compra la teva primera criptomoneda!</p>
      <!-- Button with routerLink to navigate to the profile page -->
      <button class="cta" routerLink="/compte">Registra't ara</button>
    </section>

    <section>
      <div class="warning">
        <p>Les inversions en criptomonedes són volàtils i poden no ser adequades per a tots els inversors. Assegura't d'investigar bé i entendre els riscos abans de realitzar qualsevol compra.</p>
      </div>
    </section>
  </div>

</body>
