<div class="container">
  <h2>Comprar Ethereum</h2>

  <div class="balance">
    <p>Saldo actual: <strong>{{ balance }}€</strong></p>
  </div>

  <div class="ethereumValue">
    <p>Preu actual Ethereum: <strong>{{ ethereumPrice }}€</strong></p>
  </div>

  <div class="buy-section">
    <label for="amount">Quantitat a comprar (en EUR):</label>
    <input
      type="number"
      id="amount"
      [(ngModel)]="amountToBuy"
      [min]="1"
      [max]="balance"
      placeholder="Quantitat en EUR"
      required />
    <button (click)="buyEthereum()" [disabled]="amountToBuy <= 0 || amountToBuy > balance">
      Comprar Ethereum
    </button>



    <div *ngIf="transactionSuccess" class="transaction-success">
      <img [src]="imageURL" alt="Etherum Purchase Animation" />
      <p class="success-message">Compra realitzada amb èxit!</p>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>

  </div>
