<nav class="radio-inputs">
  <div class="logo-container">
    <img src="https://seeklogo.com/images/W/worldcoin-wld-logo-09AE60ED81-seeklogo.com.png" alt="CryptoWorld Logo" class="logo" />
    <span class="company-title">CryptoWorld</span>
  </div>
  <div class="menu-items">
    <label class="radio">
      <input type="radio" name="menu" />
      <a class="name" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inici</a>
    </label>
    <label class="radio">
      <input type="radio" name="menu" />
      <a class="name" routerLink="/ultimesnoticies" routerLinkActive="active">Últimes Notícies</a>
    </label>
    <label class="radio">
      <input type="radio" name="menu" />
      <a class="name" routerLink="/monedes" routerLinkActive="active">Monedes</a>
    </label>
    <label class="radio">
      <input type="radio" name="menu" />
      <a class="name" routerLink="/cartera" routerLinkActive="active">Cartera</a>
    </label>
    <label class="radio">
      <input type="radio" name="menu" />
      <a class="name" routerLink="/compte" routerLinkActive="active">Compte</a>
    </label>
  </div>
</nav>


