<div class="container">
  <h2>Comprar Bitcoin</h2>

  <div class="balance">
    <p>Saldo actual fiat: <strong>{{ balance }}€</strong></p>
  </div>


  <div class="bitcoinValue">
    <p>Preu actual Bitcoin: <strong>{{ bitcoinPrice }}€</strong></p>
  </div>

  <div class="buy-section">
    <label for="amount">Quantitat a comprar (en EUR):</label>
    <input
      type="number"
      id="amount"
      [(ngModel)]="amountToBuy"
      [min]="1"
      [max]="balance"
      placeholder="Quantitat en EUR"
      required />
    <button (click)="buyBitcoin()" [disabled]="amountToBuy <= 0 || amountToBuy > balance">
      Comprar Bitcoin
    </button>
  </div>
</div>
