<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticias Criptomonedas</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Últimes Notícies del Món de les Criptomonedes</h1>
    </header>

    <section>
      <p>Manten-te informat sobre els canvis i esdeveniments més recents del món de les criptomonedes per aprofitar les oportunitats d'inversió i conèixer les novetats més importants. Aquí tens algunes de les últimes notícies:</p>

      <div class="selectbox">
        <select [(ngModel)]="selectedCategories" (ngModelChange)="filterNews()" class="category-select">
          <option value="">Totes les categories</option>
          <option value="Tecnologia">Tecnología</option>
          <option value="Economia">Economía</option>
          <option value="Bitcoin">Bitcoin</option>
          <option value="Ethereum">Ethereum</option>
          <option value="Litecoin">Litecoin</option>
        </select>
      </div>

      <ul>
        <li *ngFor="let newsItem of filteredNews">
          <p class="news-title">{{ newsItem.title }}</p>
          <p class="news-details">{{ newsItem.body }}</p>
          <p class="news-category">Categorías: {{ newsItem.category.join(', ') }}</p>
          <button class="noselect" *ngIf="currentUser === 'admin'" (click)="deleteNews(newsItem._id)">
            <span class="text">Esborrar Notícia</span>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
              </svg>
            </span>
          </button>
          <button class="Btn" *ngIf="currentUser === 'admin'" (click)="editNews(newsItem)">
            <span class="text">Editar</span>
            <svg class="svg" viewBox="0 0 512 512">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
            </svg>
          </button>
        </li>
      </ul>

      <button class="admin-button" *ngIf="currentUser === 'admin'" (click)="toggleForm()">Crear Notícia</button>

      <div class="popup" *ngIf="showForm || showEditForm">
        <div class="popup-content">
          <input [(ngModel)]="newTitle" placeholder="Título de la noticia">
          <textarea [(ngModel)]="newBody" placeholder="Contenido de la noticia"></textarea>
          <select multiple [(ngModel)]="newCategory" class="category-select">
            <option value="Tecnologia">Tecnologia</option>
            <option value="Economia">Economia</option>
            <option value="Bitcoin">Bitcoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="Litecoin">Litecoin</option>
          </select>
          <button *ngIf="showForm" (click)="submitNews()">Enviar</button>
          <button *ngIf="showEditForm" (click)="updateNews()">Actualitzar</button>
          <button class="close-popup" (click)="closeForm()">Tancar</button>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
